.items-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.items-container .menu-item {
  list-style: none;
  text-align: center;
}

.items-container img {
  max-width: 200px;
}

.item__image {
  max-width: 300px;
}

.order-tracker {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.order-tracker .active {
  border: 1px solid red;
}

.order-tracker .remove-item {
  color: red;
  cursor: pointer;
}
